skelbot.flow
[{"type":"tab","id":"c4faaf4c.3b055","label":"Skelbot"},{"id":"3ab1830c.c54e7c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1a87116d.e578ef","type":"http in","name":"GUI","url":"/gui","method":"get","x":122.88888549804688,"y":33.888885498046875,"z":"c4faaf4c.3b055","wires":[["b513d898.4aec28"]]},{"id":"b513d898.4aec28","type":"template","name":"GuiHTML","field":"","template":"<!DOCTYPE html>\n<html lang=\"no\">\n\t<head>\n\t\t<link rel=\"stylesheet\" href=\"/bootstrap/css/bootstrap.min.css\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<style>\n\t\t\t.top-buffer { margin-top:20px; }\n\t\t\t.btn-tall { margin-bottom:4px; word-wrap:break-word;  }\n\t\t</style>\n\t\t<script>\n\t\t\tfunction sendAction(action) {\n\t\t\t\tvar xmlhttp=new XMLHttpRequest();\n\t\t\t\txmlhttp.open(\"GET\",\"/controller?action=\" + action,true);\n\t\t\t\txmlhttp.send();\n\t\t\t}\t\n\t\t\t\n\t\t\tfunction confirmBeforeSend(action) {\n\t\t\t\tif(confirm(\"Er du sikker på at du vil skur av Skelbot?\")) {\n\t\t\t\t\tsendAction(\"Shutdown\");\n\t\t\t\t} else {\n\t\t\t\t\treturn false;\n\t\t\t\t}\n\t\t\t}\n\t\t</script>\n\t</head>\n\t\n\t<body>\n\t\t<div class=\"container-fluid\">\n\t\t\t<h1>Skelbot</h1>\n\t\t\t<div class=\"row top-buffer\">\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-success btn-lg btn-block\" onclick=\"sendAction('Wake')\"><br />Våkne<br /><br /></button>\n\t\t\t\t</div> \n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-success btn-lg btn-block\" onclick=\"sendAction('Greet')\"><br />Hils<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-success btn-lg btn-block\" onclick=\"sendAction('Sleep')\"><br />Sov<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row top-buffer\">\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-warning btn-lg btn-block\" onclick=\"sendAction('Trick')\"><br />Knask<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-warning btn-lg btn-block\" onclick=\"sendAction('Scare')\"><br />Skrem<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-warning btn-lg btn-block\" onclick=\"sendAction('Laugh')\"><br />Le<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row top-buffer\">\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-primary btn-lg btn-block\" onclick=\"sendAction('Undefined')\"><br />Udefinert<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-primary btn-lg btn-block\" onclick=\"sendAction('Test')\"><br />Test<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-danger btn-lg btn-block\" onclick=\"confirmBeforeSend('Shutdown')\"><br />Skru av<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</body>\n</html>\n","x":328.8888854980469,"y":41.888885498046875,"z":"c4faaf4c.3b055","wires":[["e898602c.1767a"]]},{"id":"e898602c.1767a","type":"http response","name":"EmptyResponse","x":589.8888854980469,"y":34.888885498046875,"z":"c4faaf4c.3b055","wires":[]},{"id":"7c14ac3a.83eb54","type":"http in","name":"Controller","url":"/controller","method":"get","x":130.88888549804688,"y":243.88888549804688,"z":"c4faaf4c.3b055","wires":[["d06e7a0a.2f9188","9e460f41.61b9f"]]},{"id":"d06e7a0a.2f9188","type":"switch","name":"BehaviourSwitch","property":"req.query.action","rules":[{"t":"eq","v":"Sleep"},{"t":"eq","v":"Test"},{"t":"eq","v":"Scare"},{"t":"eq","v":"Greet"},{"t":"eq","v":"Wake"},{"t":"eq","v":"Trick"},{"t":"eq","v":"Laugh"},{"t":"eq","v":"Undefined"},{"t":"eq","v":"Shutdown"}],"checkall":"true","outputs":9,"x":334.8888854980469,"y":244.88890075683594,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"],["9ca31681.635ce8"],["bae4d384.451b3"],["38100dd5.c7eff2"],["ac22c9cd.53dd38"],["902b7a9c.6fd488"],["8f503435.70afc8"],["a5827ee7.5a7d8"],["27ad495b.d852b6"]]},{"id":"9e460f41.61b9f","type":"http response","name":"EmptyResponse","x":335.8888854980469,"y":370.8888854980469,"z":"c4faaf4c.3b055","wires":[]},{"id":"9ca31681.635ce8","type":"function","name":"TestBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TILT_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500}, \n\t{\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500},\n    {\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":300},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}\n];\n\nreturn msg;","outputs":1,"x":584.888916015625,"y":139.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"bae4d384.451b3","type":"function","name":"ScareBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"105\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"110\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"115\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"120\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"125\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"130\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"135\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"140\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"145\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"155\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"160\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"165\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"170\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"175\", \"delay\":100} \n];\n\nreturn msg;","outputs":1,"x":589.888916015625,"y":176.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"38100dd5.c7eff2","type":"function","name":"GreetBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"hei.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":588.8888854980469,"y":216.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"e22cf3ae.1dd31","type":"function","name":"SleepBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":0}, \n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":0}, \n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":589.8888854980469,"y":101.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"f64dda2b.09b228","type":"async","name":"IterateGestures","async":"var cummulativeDelay = 0;\n\n//Does asynchronous calls to actions with delay\nvar doDelayedAction = function(action, servo, value, speed, delay) {\n\n\tconsole.log(\"action=\" + action + \" servo=\" + servo + \" value=\" + value + \" speed=\" + speed + \" delay=\" + delay + \" cDelay=\" + cummulativeDelay);\n\t\n\t_.delay(function() {\n\t\tcb({action:action, servo:servo, value:value, speed:speed});\n\t}, cummulativeDelay);\t\t\n\n\tcummulativeDelay = cummulativeDelay + delay;\n};\n\n//GestureSwitch\n//Iterate over gesturelist to perform all actions\nfor(index = 0; index < msg.gestureList.length; index++) {\n\tvar gestureItem = msg.gestureList[index];\n\n\tvar action = \"\";\n\tvar servo = 0;\n\tvar value = gestureItem.value;\n\tvar speed = gestureItem.speed;\n\tvar delay = gestureItem.delay;\n\n\t//Set correct action and servoes\n\tswitch(gestureItem.gesture) {\n\t\tcase \"SPEAK\":\n\t\t\taction = \"PLAY_SOUND\"; \n\t\t\tbreak;\n\t\tcase \"TURN_HEAD\":\n\t\t\taction = \"MOVE_SERVO\"; servo = 0;\n\t\t\tbreak;\n\t\tcase \"TILT_HEAD\":\n\t\t\taction = \"MOVE_SERVO\"; servo = 2;\n\t\t\tbreak;\n\t\tcase \"MOVE_RIGHT_ARM\":\n\t\t\taction = \"MOVE_SERVO\"; servo = 5;\n\t\t\tbreak;\n\t\tcase \"MOVE_LEFT_ARM\":\n\t\t\taction = \"MOVE_SERVO\"; servo = 4;\n\t\t\tbreak;\n\t\tcase \"SWITCH_LIGHT\":\n\t\t\tif(value == \"on\") { value = 200; } else { value = 170; }\n\t\t\taction = \"MOVE_SERVO\"; servo = 6; \n\t\t\tbreak;\n\t\tcase \"MOVE_JAW\":\n\t\t\taction = \"MOVE_SERVO\"; servo = 1; \n\t\t\tbreak;\n\t\tcase \"SHUTDOWN\":\n\t\t\taction = \"SHUTDOWN\";\n\t\t\tbreak;\n\t}\n\n\t//Do delayed call\n\tdoDelayedAction(action, servo, value, speed, delay);\n\n}\n\n","outputs":1,"x":950.888916015625,"y":276.8888854980469,"z":"c4faaf4c.3b055","wires":[["ed3c3518.12c3c8","cb1226c4.34edd8"]]},{"id":"ed3c3518.12c3c8","type":"switch","name":"ActionSwitch","property":"action","rules":[{"t":"eq","v":"MOVE_SERVO"},{"t":"eq","v":"PLAY_SOUND"},{"t":"eq","v":"SHUTDOWN"}],"checkall":"true","outputs":3,"x":601.888916015625,"y":622.888916015625,"z":"c4faaf4c.3b055","wires":[["bcd66d83.43299"],["f66bd498.099428"],["e1e808aa.1e17f8"]]},{"id":"cc68c1ea.33974","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1006.8890075683594,"y":759.8889617919922,"z":"c4faaf4c.3b055","wires":[]},{"id":"8d8d46ed.7272b8","type":"exec","command":"omxplayer","append":"msg.payload","useSpawn":true,"name":"PlaySound","x":1017.8890075683594,"y":706.8885955810547,"z":"c4faaf4c.3b055","wires":[[],[],[]]},{"id":"f66bd498.099428","type":"function","name":"PlaySound","func":"msg.payload = \"/home/pi/skelbot/mp3/\" + msg.value;\nvar debug = \"Playing sound \" + msg.payload;\nreturn [msg, debug];","outputs":"2","x":807.8888854980469,"y":666.8890228271484,"z":"c4faaf4c.3b055","wires":[["8d8d46ed.7272b8"],["cc68c1ea.33974"]]},{"id":"b0848a12.4f7b78","type":"inject","name":"OnStart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":129,"y":118,"z":"c4faaf4c.3b055","wires":[["c32e70c8.3cd19"]]},{"id":"ac22c9cd.53dd38","type":"function","name":"WakeBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"SPEAK\", \"value\":\"creepy.mp3\", \"delay\":1000}, \n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":2000}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"speed\":1, \"delay\":0}\n];\n\nreturn msg;","outputs":1,"x":588,"y":257,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"cb1226c4.34edd8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":937,"y":195,"z":"c4faaf4c.3b055","wires":[]},{"id":"e1e808aa.1e17f8","type":"exec","command":"sudo shutdown -h now","append":"","useSpawn":false,"name":"Shutdown","x":809.888916015625,"y":821.77783203125,"z":"c4faaf4c.3b055","wires":[["428a4b36.bd75b4"],[],[]]},{"id":"27ad495b.d852b6","type":"function","name":"ShutdownBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"SPEAK\", \"value\":\"shutdown.mp3\", \"delay\":3000}, \n    {\"gesture\":\"SHUTDOWN\", \"value\":\"on\", \"delay\":0}\n];\n\nreturn msg;","outputs":1,"x":598.8889465332031,"y":421.3333740234375,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"428a4b36.bd75b4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1004.888916015625,"y":806.8889770507812,"z":"c4faaf4c.3b055","wires":[]},{"id":"bcd66d83.43299","type":"function","name":"MoveServo","func":"//VARIABLES\nvar fs = context.global.fs;\nvar timers = context.global.timers;\nvar stream = fs.createWriteStream('/dev/servoblaster', { flags : 'w' });\n\n//FUNCTIONS\n\n//Function for moving servo as fast as possible with linear speed\nfunction moveServoLinear(newPosition, servo) {\n\t//Write current position to servoblaster file\n\tvar text = servo + \"=\" + newPosition + \"\\n\";\n\t\n\t//debug\n\t//console.log(text);\n\t\n\t//Write to file\n\tstream.write(text);\n}\n\n//Function for moving servo step by step with nonlinear speed\nfunction moveServoNonlinear(startPos, endPos, servo, pause) {\n\tvar increment = 0;\n\n\tconsole.log(\"Moving: startPos=\" + startPos + \" ebdPos=\" + endPos+ \" servo=\" + servo + \" pause=\" + pause);\n\t\n\t//Check which way we are moving\n\tvar direction = 1;\n\tif(startPos > endPos) {\n\t\tdirection = -1;\n\t}\n\t\t\n\t//Do recursive loop with delay\n\t(function myLoop(currentPos) {\n\t\ttimers.setTimeout(function () {\n\t\n\t\t\t//Write current position to servoblaster file\n\t\t\tmoveServoLinear(currentPos, servo);\n\t\n\t\t\t//Set appropiate travel speed (increment). Slow at start and end.\n\t\t\tvar totalTravel = (endPos - startPos)*direction;\n\t\t\tvar traveledSoFar = (currentPos - startPos)*direction;\n\t\t\tvar leftToTravel = (endPos - currentPos)*direction;\n\t\t\tif(traveledSoFar / totalTravel < 0.1 || leftToTravel / totalTravel < 0.1) {\n\t\t\t\tincrement = 1;\n\t\t\t} else {\n\t\t\t\tincrement = 2;\n\t\t\t}\n\n\t\t\t//debug\n\t\t\t//console.log(\"Left to travel: \" + leftToTravel);\n\t\n\t\t\t//Update position;\n\t\t\tcurrentPos = currentPos + increment*direction;\n\t\t\t\t\t\n\t\t\t//Do recursive call to loop\n\t\t\tif((endPos - currentPos)*direction > 0) myLoop(currentPos);      \n\n\t\t\t//Set global variable servo position to new position\n\t\t\tcontext.global.servo[msg.servo] = currentPos;\t\n\n\t\t}, pause);\n\t})(startPos);\n\n}\n\n//MAIN\n\nvar position = msg.value;\n\n//Get current servo position from global vars\nvar currentServoPos = context.global.servo[msg.servo]; \n\n//Do appropriate movement according to speed (1, 2, 3)\nswitch (msg.speed) {\n\tcase 1:\n\t\tconsole.log(\"Case Speed 1\");\n\t\tmoveServoNonlinear(currentServoPos, position, msg.servo, 60);\n\t\tbreak;\n\tcase 2:\n\t\tconsole.log(\"Case Speed 2\");\n\t\tmoveServoNonlinear(currentServoPos, position, msg.servo, 30);\n\t\tbreak;\n\tdefault:\n\t\tconsole.log(\"Case Speed 3\");\n\t\t//moveServoLinear(position, msg.servo);\n\t\tmoveServoNonlinear(parseInt(position), position, msg.servo, 0);\n\t\tbreak;\n}\n\n//Remove?\nstream.on('finish', function () {\n\tconsole.log('file has been written');\n\tstream.end();\n});\n\nreturn {payload:\"Moved servo nr \" + msg.servo + \" to position \" + position};\n","outputs":1,"x":809,"y":616.0000610351562,"z":"c4faaf4c.3b055","wires":[["d087acc3.2f785"]]},{"id":"c32e70c8.3cd19","type":"function","name":"SetGlobalVars","func":"context.global.servo = [];\n\nfor(i=0; i<7; i++) {\n\tcontext.global.servo[i] = 150;\n}\n\nreturn msg;","outputs":1,"x":333,"y":117,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"]]},{"id":"cbe317e3.341ce8","type":"function","name":"SpeedTestBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"speed\":1, \"delay\":5000}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"180\", \"speed\":1, \"delay\":5000},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"speed\":2, \"delay\":2000}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"180\", \"speed\":2, \"delay\":2000},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"delay\":1000}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"180\", \"delay\":1000},\n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"150\", \"delay\":1000},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"speed\":2, \"delay\":2000}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"180\", \"speed\":2, \"delay\":2000},\n];\n\nreturn msg;","outputs":1,"x":598,"y":461,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"6c6ebbba.939144","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":367,"y":460,"z":"c4faaf4c.3b055","wires":[["cbe317e3.341ce8"]]},{"id":"d087acc3.2f785","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1007,"y":615.0000610351562,"z":"c4faaf4c.3b055","wires":[]},{"id":"902b7a9c.6fd488","type":"function","name":"TrickBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":588,"y":299,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"8f503435.70afc8","type":"function","name":"LaughBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":590,"y":338,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"a5827ee7.5a7d8","type":"function","name":"UndefinedBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":599,"y":380,"z":"c4faaf4c.3b055","wires":[[]]}]