skelbot.flow
[{"type":"tab","id":"c4faaf4c.3b055","label":"Skelbot"},{"id":"3ab1830c.c54e7c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1a87116d.e578ef","type":"http in","name":"GUI","url":"/gui","method":"get","x":110.88888549804688,"y":79.88888549804688,"z":"c4faaf4c.3b055","wires":[["b513d898.4aec28"]]},{"id":"b513d898.4aec28","type":"template","name":"GuiHTML","field":"","template":"<html>\n\t<head>\n\t\t<link rel=\"stylesheet\" href=\"/bootstrap/css/bootstrap.min.css\">\n\t\t<script>\n\t\t\tfunction sendAction(action) {\n\t\t\t\tvar xmlhttp=new XMLHttpRequest();\n\t\t\t\txmlhttp.open(\"GET\",\"/controller?action=\" + action,true);\n\t\t\t\txmlhttp.send();\n\t\t\t\n\t\t\t}\t\n\t\t</script>\n\t</head>\n\t\n\t<body>\n\t\t<h1>Skelbot</h1>\n\t\t<p>\n\t\t\t<button onclick=\"sendAction('Test')\">Test</button> \n\t\t\t<button onclick=\"sendAction('Wake')\">Våkne</button> \n\t\t\t<button onclick=\"sendAction('Scare')\">Skrem</button> \n\t\t\t<button onclick=\"sendAction('Greet')\">Hils</button> \n\t\t\t<button onclick=\"sendAction('Sleep')\">Sov</button> \n\t\t</p>\t\n\t</body>\n</html>\n","x":330.8888854980469,"y":90.88888549804688,"z":"c4faaf4c.3b055","wires":[["e898602c.1767a"]]},{"id":"e898602c.1767a","type":"http response","name":"EmptyResponse","x":577.8888854980469,"y":80.88888549804688,"z":"c4faaf4c.3b055","wires":[]},{"id":"7c14ac3a.83eb54","type":"http in","name":"Controller","url":"/controller","method":"get","x":111.88888549804688,"y":274.8888854980469,"z":"c4faaf4c.3b055","wires":[["d06e7a0a.2f9188","9e460f41.61b9f"]]},{"id":"d06e7a0a.2f9188","type":"switch","name":"BehaviourSwitch","property":"req.query.action","rules":[{"t":"eq","v":"Sleep"},{"t":"eq","v":"Test"},{"t":"eq","v":"Scare"},{"t":"eq","v":"Greet"},{"t":"eq","v":"Wake"}],"checkall":"true","outputs":5,"x":328.8888854980469,"y":275.8888854980469,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"],["9ca31681.635ce8"],["bae4d384.451b3"],["38100dd5.c7eff2"],["ac22c9cd.53dd38"]]},{"id":"9e460f41.61b9f","type":"http response","name":"EmptyResponse","x":330.8888854980469,"y":364.8888854980469,"z":"c4faaf4c.3b055","wires":[]},{"id":"9ca31681.635ce8","type":"function","name":"TestBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TILT_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"SPEAK\", \"value\": \"test.mp3\", \"delay\":0},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500}, \n\t{\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}\n];\n\nreturn msg;","outputs":1,"x":564.888916015625,"y":234.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"bae4d384.451b3","type":"function","name":"ScareBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"105\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"110\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"115\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"120\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"125\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"130\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"135\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"140\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"145\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"155\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"160\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"165\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"170\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"175\", \"delay\":100} \n];\n\nreturn msg;","outputs":1,"x":569.888916015625,"y":277.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"38100dd5.c7eff2","type":"function","name":"GreetBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":568.8888854980469,"y":320.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"e22cf3ae.1dd31","type":"function","name":"SleepBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":0}, \n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":0}, \n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":569.8888854980469,"y":190.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"f64dda2b.09b228","type":"async","name":"IterateGestures","async":"var cummulativeDelay = 0;\n\n//Does asynchronous calls to actions with delay\nvar doDelayedAction = function(action, servo, value, delay) {\n\n\tconsole.log(\"action=\" + action + \" servo=\" + servo + \" value=\" + value + \" delay=\" + delay + \" cDelay=\" + cummulativeDelay);\n\t\n\t_.delay(function() {\n\t\tcb({action:action, servo:servo, value:value});\n\t}, cummulativeDelay);\t\t\n\n\tcummulativeDelay = cummulativeDelay + delay;\n};\n\n//GestureSwitch\n//Iterate over gesturelist to perform all actions\nfor(index = 0; index < msg.gestureList.length; index++) {\n\tvar gestureItem = msg.gestureList[index];\n\n\n\tswitch(gestureItem.gesture) {\n\t\tcase \"SPEAK\":\n\t\t\tdoDelayedAction(\"PLAY_SOUND\", \"\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TURN_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"0\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TILT_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"2\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_RIGHT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"5\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_LEFT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"4\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"SWITCH_LIGHT\":\n\t\t\tvar value = 170;\n\t\t\tif(gestureItem.value == \"on\") { value = 200; }\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"6\", value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_JAW\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"1\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t}\n}\n\n","outputs":1,"x":820.888916015625,"y":363.8888854980469,"z":"c4faaf4c.3b055","wires":[["ed3c3518.12c3c8","cb1226c4.34edd8"]]},{"id":"ed3c3518.12c3c8","type":"switch","name":"ActionSwitch","property":"action","rules":[{"t":"eq","v":"MOVE_SERVO"},{"t":"eq","v":"PLAY_SOUND"}],"checkall":"true","outputs":2,"x":318.8888854980469,"y":680.8888854980469,"z":"c4faaf4c.3b055","wires":[["3302da5a.ccfd26"],["f66bd498.099428"]]},{"id":"cc68c1ea.33974","type":"debug","name":"","active":false,"console":"false","complete":"true","x":769.8889770507812,"y":799.888916015625,"z":"c4faaf4c.3b055","wires":[]},{"id":"8d8d46ed.7272b8","type":"exec","command":"omxplayer","append":"msg.payload","useSpawn":true,"name":"PlaySound","x":780.8889770507812,"y":746.8885498046875,"z":"c4faaf4c.3b055","wires":[[],[],[]]},{"id":"f66bd498.099428","type":"function","name":"PlaySound","func":"msg.payload = \"/home/pi/skelbot/mp3/\" + msg.value;\nvar debug = \"Playing sound \" + msg.payload;\nreturn [msg, debug];","outputs":"2","x":564.8888244628906,"y":790.8889770507812,"z":"c4faaf4c.3b055","wires":[["8d8d46ed.7272b8"],["cc68c1ea.33974"]]},{"id":"3302da5a.ccfd26","type":"function","name":"MoveServo","func":"msg.payload = msg.servo + \"=\" + msg.value + \"\\n\";\nvar debug = \"Moving servo nr\" + msg.servo + \" to position \" + msg.value;\n\nreturn [msg, debug];","outputs":"2","x":565.8889465332031,"y":648.888916015625,"z":"c4faaf4c.3b055","wires":[["a25048f2.5dafb8"],["2677a6d6.d9885a"]]},{"id":"2677a6d6.d9885a","type":"debug","name":"","active":false,"console":"false","complete":"true","x":767.8890380859375,"y":688.5553283691406,"z":"c4faaf4c.3b055","wires":[]},{"id":"a25048f2.5dafb8","type":"file","name":"FileWriter","filename":"/dev/servoblaster","appendNewline":false,"overwriteFile":false,"x":775.0002136230469,"y":641.6664123535156,"z":"c4faaf4c.3b055","wires":[]},{"id":"b0848a12.4f7b78","type":"inject","name":"SleepOnStart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":340,"y":192,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"]]},{"id":"ac22c9cd.53dd38","type":"function","name":"WakeBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":2000}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":0}\n];\n\nreturn msg;","outputs":1,"x":571,"y":365,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"cb1226c4.34edd8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":930,"y":209,"z":"c4faaf4c.3b055","wires":[]}]