oldflows/skelbot_v0_2.flow
[{"type":"tab","id":"c4faaf4c.3b055","label":"Skelbot"},{"id":"3ab1830c.c54e7c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"1a87116d.e578ef","type":"http in","name":"GUI","url":"/gui","method":"get","x":110.88888549804688,"y":79.88888549804688,"z":"c4faaf4c.3b055","wires":[["b513d898.4aec28"]]},{"id":"b513d898.4aec28","type":"template","name":"GuiHTML","field":"","template":"<!DOCTYPE html>\n<html lang=\"no\">\n\t<head>\n\t\t<link rel=\"stylesheet\" href=\"/bootstrap/css/bootstrap.min.css\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<style>\n\t\t\t.top-buffer { margin-top:20px; }\n\t\t\t.btn-tall { margin-bottom:4px; word-wrap:break-word;  }\n\t\t</style>\n\t\t<script>\n\t\t\tfunction sendAction(action) {\n\t\t\t\tvar xmlhttp=new XMLHttpRequest();\n\t\t\t\txmlhttp.open(\"GET\",\"/controller?action=\" + action,true);\n\t\t\t\txmlhttp.send();\n\t\t\t}\t\n\t\t\t\n\t\t\tfunction confirmBeforeSend(action) {\n\t\t\t\tif(confirm(\"Er du sikker på at du vil skur av Skelbot?\")) {\n\t\t\t\t\tsendAction(\"Shutdown\");\n\t\t\t\t} else {\n\t\t\t\t\treturn false;\n\t\t\t\t}\n\t\t\t}\n\t\t</script>\n\t</head>\n\t\n\t<body>\n\t\t<div class=\"container-fluid\">\n\t\t\t<h1>Skelbot</h1>\n\t\t\t<div class=\"row top-buffer\">\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-primary btn-lg btn-block\" onclick=\"sendAction('Test')\"><br />Test<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-success btn-lg btn-block\" onclick=\"sendAction('Wake')\"><br />Våkne<br /><br /></button>\n\t\t\t\t</div> \n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-warning btn-lg btn-block\" onclick=\"sendAction('Scare')\"><br />Skrem<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row top-buffer\">\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-warning btn-lg btn-block\" onclick=\"sendAction('Greet')\">Våkne<br />Hils<br />Skrem</button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-primary btn-lg btn-block\" onclick=\"sendAction('Sleep')\"><br />Sov<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"col-xs-4\">\n\t\t\t\t\t<button type=\"button\" class=\"btn btn-danger btn-lg btn-block\" onclick=\"confirmBeforeSend('Shutdown')\"><br />Skru av<br /><br /></button>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</body>\n</html>\n","x":308.8888854980469,"y":97.88888549804688,"z":"c4faaf4c.3b055","wires":[["e898602c.1767a"]]},{"id":"e898602c.1767a","type":"http response","name":"EmptyResponse","x":577.8888854980469,"y":80.88888549804688,"z":"c4faaf4c.3b055","wires":[]},{"id":"7c14ac3a.83eb54","type":"http in","name":"Controller","url":"/controller","method":"get","x":111.88888549804688,"y":274.8888854980469,"z":"c4faaf4c.3b055","wires":[["d06e7a0a.2f9188","9e460f41.61b9f"]]},{"id":"d06e7a0a.2f9188","type":"switch","name":"BehaviourSwitch","property":"req.query.action","rules":[{"t":"eq","v":"Sleep"},{"t":"eq","v":"Test"},{"t":"eq","v":"Scare"},{"t":"eq","v":"Greet"},{"t":"eq","v":"Wake"},{"t":"eq","v":"Shutdown"}],"checkall":"true","outputs":6,"x":328.8888854980469,"y":278.88890075683594,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"],["9ca31681.635ce8"],["bae4d384.451b3"],["38100dd5.c7eff2"],["ac22c9cd.53dd38"],["27ad495b.d852b6"]]},{"id":"9e460f41.61b9f","type":"http response","name":"EmptyResponse","x":330.8888854980469,"y":364.8888854980469,"z":"c4faaf4c.3b055","wires":[]},{"id":"9ca31681.635ce8","type":"function","name":"TestBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TILT_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"200\", \"delay\":500},\n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"150\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500}, \n\t{\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":500},\n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":500},\n    {\"gesture\":\"SPEAK\", \"value\": \"test.mp3\", \"delay\":300},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}, \n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n    {\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"100\", \"delay\":500},\n\t{\"gesture\":\"MOVE_JAW\", \"value\":\"200\", \"delay\":500}\n];\n\nreturn msg;","outputs":1,"x":564.888916015625,"y":234.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"bae4d384.451b3","type":"function","name":"ScareBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TILT_HEAD\", \"value\":\"100\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"105\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"110\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"115\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"120\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"125\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"130\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"135\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"140\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"145\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"155\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"160\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"165\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"170\", \"delay\":100}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"175\", \"delay\":100} \n];\n\nreturn msg;","outputs":1,"x":569.888916015625,"y":277.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"38100dd5.c7eff2","type":"function","name":"GreetBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":200}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":200},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":568.8888854980469,"y":320.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"e22cf3ae.1dd31","type":"function","name":"SleepBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"200\", \"delay\":0}, \n    {\"gesture\":\"MOVE_LEFT_ARM\", \"value\":\"100\", \"delay\":0}, \n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"off\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TURN_HEAD\", \"value\":\"150\", \"delay\":0}, \n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":200}\n];\n\nreturn msg;","outputs":1,"x":569.8888854980469,"y":190.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"f64dda2b.09b228","type":"async","name":"IterateGestures","async":"var cummulativeDelay = 0;\n\n//Does asynchronous calls to actions with delay\nvar doDelayedAction = function(action, servo, value, delay) {\n\n\tconsole.log(\"action=\" + action + \" servo=\" + servo + \" value=\" + value + \" delay=\" + delay + \" cDelay=\" + cummulativeDelay);\n\t\n\t_.delay(function() {\n\t\tcb({action:action, servo:servo, value:value});\n\t}, cummulativeDelay);\t\t\n\n\tcummulativeDelay = cummulativeDelay + delay;\n};\n\n//GestureSwitch\n//Iterate over gesturelist to perform all actions\nfor(index = 0; index < msg.gestureList.length; index++) {\n\tvar gestureItem = msg.gestureList[index];\n\n\n\tswitch(gestureItem.gesture) {\n\t\tcase \"SPEAK\":\n\t\t\tdoDelayedAction(\"PLAY_SOUND\", \"\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TURN_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"0\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TILT_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"2\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_RIGHT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"5\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_LEFT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"4\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"SWITCH_LIGHT\":\n\t\t\tvar value = 170;\n\t\t\tif(gestureItem.value == \"on\") { value = 200; }\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"6\", value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_JAW\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"1\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"SHUTDOWN\":\n\t\t\tdoDelayedAction(\"SHUTDOWN\", \"\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t}\n}\n\n","outputs":1,"x":820.888916015625,"y":363.8888854980469,"z":"c4faaf4c.3b055","wires":[["ed3c3518.12c3c8","cb1226c4.34edd8"]]},{"id":"ed3c3518.12c3c8","type":"switch","name":"ActionSwitch","property":"action","rules":[{"t":"eq","v":"MOVE_SERVO"},{"t":"eq","v":"PLAY_SOUND"},{"t":"eq","v":"SHUTDOWN"}],"checkall":"true","outputs":3,"x":318.8888854980469,"y":680.8888854980469,"z":"c4faaf4c.3b055","wires":[["3302da5a.ccfd26"],["f66bd498.099428"],["e1e808aa.1e17f8"]]},{"id":"cc68c1ea.33974","type":"debug","name":"","active":true,"console":"false","complete":"true","x":769.8890075683594,"y":810.8889007568359,"z":"c4faaf4c.3b055","wires":[]},{"id":"8d8d46ed.7272b8","type":"exec","command":"omxplayer","append":"msg.payload","useSpawn":true,"name":"PlaySound","x":780.8890075683594,"y":757.8885345458984,"z":"c4faaf4c.3b055","wires":[[],[],[]]},{"id":"f66bd498.099428","type":"function","name":"PlaySound","func":"msg.payload = \"/home/pi/skelbot/mp3/\" + msg.value;\nvar debug = \"Playing sound \" + msg.payload;\nreturn [msg, debug];","outputs":"2","x":570.8888854980469,"y":717.8889617919922,"z":"c4faaf4c.3b055","wires":[["8d8d46ed.7272b8"],["cc68c1ea.33974"]]},{"id":"3302da5a.ccfd26","type":"function","name":"MoveServo","func":"msg.payload = msg.servo + \"=\" + msg.value + \"\\n\";\nvar debug = \"Moving servo nr\" + msg.servo + \" to position \" + msg.value;\n\nreturn [msg, debug];","outputs":"2","x":565.8889465332031,"y":648.888916015625,"z":"c4faaf4c.3b055","wires":[["a25048f2.5dafb8"],["2677a6d6.d9885a"]]},{"id":"2677a6d6.d9885a","type":"debug","name":"","active":true,"console":"false","complete":"true","x":767.8890380859375,"y":688.5553283691406,"z":"c4faaf4c.3b055","wires":[]},{"id":"a25048f2.5dafb8","type":"file","name":"FileWriter","filename":"/dev/servoblaster","appendNewline":false,"overwriteFile":false,"x":775.0002136230469,"y":641.6664123535156,"z":"c4faaf4c.3b055","wires":[]},{"id":"b0848a12.4f7b78","type":"inject","name":"SleepOnStart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":314,"y":190,"z":"c4faaf4c.3b055","wires":[["e22cf3ae.1dd31"]]},{"id":"ac22c9cd.53dd38","type":"function","name":"WakeBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"SPEAK\", \"value\":\"creepy.mp3\", \"delay\":1000}, \n    {\"gesture\":\"SWITCH_LIGHT\", \"value\":\"on\", \"delay\":2000}, \n    {\"gesture\":\"TILT_HEAD\", \"value\":\"150\", \"delay\":0}\n];\n\nreturn msg;","outputs":1,"x":571,"y":365,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"cb1226c4.34edd8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":842,"y":279,"z":"c4faaf4c.3b055","wires":[]},{"id":"e1e808aa.1e17f8","type":"exec","command":"sudo shutdown -h now","append":"","useSpawn":false,"name":"Shutdown","x":783.8889465332031,"y":885.7777557373047,"z":"c4faaf4c.3b055","wires":[["428a4b36.bd75b4"],[],[]]},{"id":"27ad495b.d852b6","type":"function","name":"ShutdownBehaviour","func":"msg.gestureList = [\n    {\"gesture\":\"SPEAK\", \"value\":\"shutdown.mp3\", \"delay\":3000}, \n    {\"gesture\":\"SHUTDOWN\", \"value\":\"on\", \"delay\":0}\n];\n\nreturn msg;","outputs":1,"x":569.8889465332031,"y":412.3333549499512,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"428a4b36.bd75b4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":951.8888854980469,"y":871.8888854980469,"z":"c4faaf4c.3b055","wires":[]},{"id":"67167408.98e98c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":1215.0000610351562,"z":"c4faaf4c.3b055","wires":[["9d07943f.62f868"]]},{"id":"3b81988f.c47e68","type":"async","name":"","async":"console.log(\"Starting...\");\n\n//Variables\nvar fs = context.global.fs;\nvar file;\n\n//Functions\nfunction openFile() {\n\tfs.open(\"/home/pi/skelbot/test.txt\", \"a\", function(err, fs) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        file = fs;\n\t        console.log(\"File opened successfully\");\n\t    }\n\t}); \n\t\n\treturn;\n}\n\nfunction writeFile(i) {\n\tbuffer = new Buffer(\"2=\" + i + \"\\n\");\n\tfs.write(fs, buffer, 0, buffer.length, null, function(err) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"Wrote to file successfully\");\n\t    }\n\t}); \n\t\n\t\n\treturn {payload:i};\n}\n\nfunction closeFile() {\n\tfs.close(fs, function(err) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"File closed successfully\");\n\t    }\n\t}); \n\t\n\treturn;\n}\n\n//Main\nopenFile();\n\nfor(i=100; i<=200; i++) {\n\tconsole.log(\"pos=\" + i);\n\t\n\t_.delay(function() {\n\t\tcb(writeFile(i));\n\t}, 10);\t\t\n}\n\ncloseFile();","outputs":1,"x":309,"y":998,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"6f9f441b.9060bc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":545,"y":1200,"z":"c4faaf4c.3b055","wires":[]},{"id":"87006673.78ff98","type":"function","name":"","func":"var fs = context.global.fs;\nfor(i=100; i<=200; i++) {\n\tconsole.log(\"pos=\" + i);\n\n\t(function(index) {\n\tfs.appendFile(\"/home/pi/skelbot/test.txt\", \"2=\" + index + \"\\n\", function(err) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"saved:\" + index);\n\t    }\n\t}); \n\t})(i);\n\n}\n\nreturn msg;","outputs":1,"x":306.8888854980469,"y":951.888916015625,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"d5ed4f55.2a12b","type":"async","name":"","async":"for(i=100; i<=200; i++) {\n\tconsole.log(\"pos=\" + i);\n\n\t(function(index) {\n\n\t\t_.delay(function() {\n\t\t\tvar fs = context.global.fs;\n\t\t\tfs.appendFile('/dev/servoblaster', \"5=\" + index + \"\\n\", function(err) {\n\t\t\t\tif(err) throw err;\n\t\t\t    console.log(\"Wrote to file successfully\");\n\t\t\t});\n\t\t\t\n\t\t\tcb({payload:\"It works!\"});\n\t\t}, 1000);\n\t\n\t})(i);\n\n}\n","outputs":"1","x":304,"y":1053,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"7c2a8460.83d57c","type":"async","name":"","async":"//Variables\nvar fs = context.global.fs;\n\nfs.appendFile('/dev/servoblaster', msg.payload, function(err) {\n\tif(err) throw err;\n    console.log(\"Wrote to file successfully\");\n}); \n\n","outputs":1,"x":517,"y":925,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"f809ca9b.07f638","type":"function","name":"","func":"var timers = context.global.timers;\nconsole.log(\"Starting...\");\n\nfor( var i = 100; i < 200; i++) {\n\t(function(index){\n\t\ttimers.setTimeout(function(){\n\t\t\tconsole.log (\"index:\" + index);\n\t\t\tvar fs = context.global.fs;\n\t\t\tfs.appendFile('/dev/servoblaster', \"5=\" + index + \"\\n\", function(err) {\n\t\t\t\tif(err) { console.log(err) } else {\n\t\t\t\t    console.log(\"Wrote to file successfully\");\n\t\t\t\t}\n\t\t\t});\n\t\t\t\n\t\t}, 1000);\n\n })(i);\n}\n\nconsole.log(\"Ending...\");","outputs":1,"x":308,"y":903,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"9d07943f.62f868","type":"function","name":"WorkingDelayLoop","func":"var timers = context.global.timers;\n\nconsole.log(\"Starting...\");\n\n(function myLoop(i) {          \n   timers.setTimeout(function () {   \n\n\t\tvar fs = context.global.fs;\n\t\tvar text = \"5=\" + i + \"\\n\";\n\t\tconsole.log(text);\n\t\tfs.appendFile('/dev/servoblaster', text, function(err) {\n\t\t\tif(err) throw err;\n\t\t});\n\n\t\ti=i+2;\n\t\tif (i < 200) myLoop(i);      //  decrement i and call myLoop again if i > 0\n\t}, 70)\n})(100);","outputs":1,"x":328,"y":1221,"z":"c4faaf4c.3b055","wires":[["6f9f441b.9060bc"]]},{"id":"b5cfb021.4a305","type":"function","name":"","func":"var fs = context.global.fs;\nvar timers = context.global.timers;\n\n//Open file\nfs.open('/home/pi/skelbot/test.txt', 'w', function(err, fd) {\n    if(err) throw err;\n\n\tconsole.log(\"File opended...\");\n\t\n\t//Do loop with delay\n\t(function myLoop(i) {          \n\t   timers.setTimeout(function () {   \n\t\n\t\t\tvar text = \"5=\" + i + \"\\n\";\n\t\t\tbuffer = new Buffer(text);\n\n\t\t\t//Write to file\n\t\t\tfs.write(fd, buffer, 0, buffer.length, null, function(err, written, buffer) {\n\t\t\t    if(err) {\n\t\t\t    \tconsole.log(err);\n\t\t\t    } else {\n\t\t\t    \tconsole.log(\"Wrote to file!\");\n\t\t\t    }\n\t\t\t}); \n\t\t\t\n\t\t\tif (i++ < 200) myLoop(i);      //  decrement i and call myLoop again if i > 0\n\n\t\t}, 30)\n\t})(100);\n\n\t//Close file\n\tfs.close(fd, function(err) {\n\t    if(err) throw err;\n\t}); \n\n}); \n\n\n","outputs":1,"x":314,"y":1169,"z":"c4faaf4c.3b055","wires":[["880d2c.ff77f2d"]]},{"id":"78372129.87c8e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":1155,"z":"c4faaf4c.3b055","wires":[["b5cfb021.4a305"]]},{"id":"880d2c.ff77f2d","type":"debug","name":"","active":true,"console":"false","complete":"false","x":483,"y":1148,"z":"c4faaf4c.3b055","wires":[]},{"id":"d0d39c1.f2f2c6","type":"function","name":"","func":"//Variables\nvar fs = context.global.fs;\nvar file;\n\n//Functions\nfunction openFile() {\n\tfs.open(\"/home/pi/skelbot/test.txt\", \"a\", function(err, fd) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"File opened successfully\");\n\t        return fd;\n\t    }\n\t}); \n}\n\nfunction writeFile(fd) {\n\tbuffer = new Buffer(\"2=\" + i + \"\\n\");\n\tfs.write(fd, buffer, 0, buffer.length, null, function(err) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"Wrote to file successfully\");\n\t    }\n\t}); \n}\n\nfunction closeFile(file) {\n\tfs.close(file, function(err) {\n\t    if(err) {\n\t        console.log(err);\n\t    } else {\n\t        console.log(\"File closed successfully\");\n\t    }\n\t}); \n\t\n\treturn;\n}\n\n//Main\nfile = openFile();\ncloseFile(file);","outputs":1,"x":323,"y":1107,"z":"c4faaf4c.3b055","wires":[[]]},{"id":"8d134797.72ecb8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":1298,"z":"c4faaf4c.3b055","wires":[["bcd66d83.43299"]]},{"id":"bcd66d83.43299","type":"function","name":"WorkingLoopDelayStream","func":"var fs = context.global.fs;\nvar timers = context.global.timers;\n\n//Open file\nvar stream = fs.createWriteStream('/dev/servoblaster', { flags : 'w' });\n\nconsole.log(\"File opended...\");\n\nfunction moveServo(startPos, endPos, servo) {\n\tvar increment = 0;\n\t\n\t//Check which way we are moving\n\tvar direction = 1;\n\tif(startPos > endPos) {\n\t\tdirection = -1;\n\t}\n\t\t\n\t//Do recursive loop with delay\n\t(function myLoop(currentPos, str) {          \n\t   timers.setTimeout(function () {   \n\t\n\t\t\t//Write current position to servoblaster file\n\t\t\tvar text = servo + \"=\" + currentPos + \"\\n\";\n\t\t\tconsole.log(text);\n\t\t\t//Write to file\n\t\t\tstream.write(text);\n\t\n\t\t\t//Set appropiate travel speed (increment). Slow at start and end.\n\t\t\tvar totalTravel = (endPos - startPos)*direction;\n\t\t\tvar traveledSoFar = (currentPos - startPos)*direction;\n\t\t\tvar leftToTravel = (endPos - currentPos)*direction;\n\t\t\tif(traveledSoFar / totalTravel < 0.1 || leftToTravel / totalTravel < 0.1) {\n\t\t\t\tincrement = 1;\n\t\t\t} else {\n\t\t\t\tincrement = 2;\n\t\t\t}\n\t\n\t\t\t//Update position;\n\t\t\tcurrentPos = currentPos + increment*direction;\n\t\t\t\n\t\t\t//Do recursive call to loop\n\t\t\tif((endPos - currentPos)*direction > 0) myLoop(currentPos, str);      \n\t\n\t\t}, 30)\n\t})(startPos, stream);\n}\n\nmoveServo(180, 100, 5);\n\t\n\n","outputs":1,"x":322,"y":1277,"z":"c4faaf4c.3b055","wires":[["e6bc31d.f1943d"]]},{"id":"e6bc31d.f1943d","type":"debug","name":"","active":true,"console":"false","complete":"true","x":581,"y":1312,"z":"c4faaf4c.3b055","wires":[]}]