oldflows/skelbot.flow
[{"type":"tab","id":"86aad6db.795528","label":"Skelbot"},{"type":"tab","id":"d1443b8b.2ebbc8","label":"Rambot"},{"type":"tab","id":"c4faaf4c.3b055","label":"Skelbot v2"},{"id":"3ab1830c.c54e7c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"73b2cb76.8c4d34","type":"http in","name":"GUI","url":"/gui","method":"get","x":146,"y":51,"z":"86aad6db.795528","wires":[["59fe4c99.a601b4"]]},{"id":"59fe4c99.a601b4","type":"template","name":"GuiHTML","field":"","template":"<html>\n\t<head>\n\t\t<script>\n\t\t\tfunction sendAction(action) {\n\t\t\t\tvar xmlhttp=new XMLHttpRequest();\n\t\t\t\txmlhttp.open(\"GET\",\"/controller?action=\" + action,true);\n\t\t\t\txmlhttp.send();\n\t\t\t\n\t\t\t}\t\n\t\t</script>\n\t</head>\n\t\n\t<body>\n\t\t<h1>Skelbot</h1>\n\t\t<p>\n\t\t\t<button onclick=\"sendAction('Laugh')\">Le</button> \n\t\t\t<button onclick=\"sendAction('Scare')\">Skrem</button> \n\t\t\t<button onclick=\"sendAction('Greet')\">Hils</button> \n\t\t\t<button onclick=\"sendAction('Sleep')\">Sov</button> \n\t\t</p>\t\n\t</body>\n</html>\n","x":365,"y":62,"z":"86aad6db.795528","wires":[["ab80ed87.547f1"]]},{"id":"ab80ed87.547f1","type":"http response","name":"EmptyResponse","x":613,"y":52,"z":"86aad6db.795528","wires":[]},{"id":"94978794.6b6878","type":"http in","name":"Controller","url":"/controller","method":"get","x":145,"y":277,"z":"86aad6db.795528","wires":[["5e0861b1.a1f7a","c2ee1d4f.3d11e"]]},{"id":"5e0861b1.a1f7a","type":"switch","name":"BehaviourSwitch","property":"req.query.action","rules":[{"t":"eq","v":"Laugh"},{"t":"eq","v":"Scare"},{"t":"eq","v":"Greet"},{"t":"eq","v":"Sleep"}],"checkall":"true","outputs":4,"x":362,"y":278,"z":"86aad6db.795528","wires":[["d94bfcf5.26b4"],["24707601.db8f8a"],["feb24458.014db8"],["e99acaa9.166538"]]},{"id":"c2ee1d4f.3d11e","type":"http response","name":"EmptyResponse","x":360,"y":202,"z":"86aad6db.795528","wires":[]},{"id":"41ed168e.be12e8","type":"file","name":"FileWriter","filename":"/home/pi/skelbot/outputfile.txt","appendNewline":true,"overwriteFile":false,"x":584.0001525878906,"y":728,"z":"86aad6db.795528","wires":[]},{"id":"e9948713.166b78","type":"exec","command":"omxplayer","append":"msg.payload","useSpawn":true,"name":"PlaySound","x":597.0001831054688,"y":559,"z":"86aad6db.795528","wires":[[],[],[]]},{"id":"985d8899.67a278","type":"function","name":"PerformActions","func":"var XMLHttpRequest = context.global.xmlhttprequest.XMLHttpRequest;\n\n//Creates a callout to HTTPIn node\nfunction httpCallout(page, servo, value) {\n\tvar xmlhttp = new XMLHttpRequest();\n\txmlhttp.open(\"GET\",\"http://localhost:1880/\" + page + \"?servo=\" + servo + \"&value=\" + value,true);\n\txmlhttp.send();\n}\n\n//ACTIONSWITCH\n//Iterate over actionlist to perform all actions\nfor(index = 0; index < msg.actionList.length; index++) {\n\tvar actionItem = msg.actionList[index];\n\n\tswitch(actionItem.action) {\n\t\tcase \"PLAY_SOUND\":\n\t\t\thttpCallout(\"playsound\", \"\", actionItem.value);\n\t\t\tbreak;\n\t\tcase \"TURN_HEAD\":\n\t\t\thttpCallout(\"moveservo\", \"1\", actionItem.value);\n\t\t\tbreak;\n\t\tcase \"TILT_HEAD\":\n\t\t\thttpCallout(\"moveservo\", \"2\", actionItem.value);\n\t\t\tbreak;\n\t\tcase \"MOVE_RIGHT_ARM\":\n\t\t\thttpCallout(\"moveservo\", \"3\", actionItem.value);\n\t\t\tbreak;\n\t\tcase \"DELAY\":\n\t\t\thttpCallout(\"delay\", \"\",  actionItem.value);\n\t}\n}\n\nreturn msg;","outputs":1,"x":839,"y":286,"z":"86aad6db.795528","wires":[[]]},{"id":"d94bfcf5.26b4","type":"function","name":"BuildLaugh","func":"msg.actionList = [\n    {\"action\":\"TURN_HEAD\", \"value\":\"200\"}, \n\t{\"action\":\"PLAY_SOUND\", \"value\":\"test.mp3\"},\n    {\"action\":\"TILT_HEAD\", \"value\": \"100\"}\n];\n\nreturn msg;","outputs":1,"x":594.0000305175781,"y":192,"z":"86aad6db.795528","wires":[["985d8899.67a278"]]},{"id":"53b7adb6.ac4854","type":"http in","name":"PlaySound","url":"/playsound","method":"get","x":142,"y":556.0001220703125,"z":"86aad6db.795528","wires":[["c12453ad.3edbb","5d5dbc19.a2a244"]]},{"id":"b5ed2e57.4a12d","type":"debug","name":"","active":true,"console":"false","complete":"true","x":588.0001831054688,"y":607.0003662109375,"z":"86aad6db.795528","wires":[]},{"id":"c12453ad.3edbb","type":"function","name":"PlaySound","func":"msg.payload = \"/home/pi/skelbot/mp3/\" + msg.req.query.value;\nvar debug = \"Playing sound \" + msg.req.query.value;\nreturn [msg, debug];","outputs":"2","x":372,"y":605.0003967285156,"z":"86aad6db.795528","wires":[["e9948713.166b78"],["b5ed2e57.4a12d"]]},{"id":"5d5dbc19.a2a244","type":"http response","name":"","x":360,"y":555.0001831054688,"z":"86aad6db.795528","wires":[]},{"id":"4956f013.b6a91","type":"http in","name":"MoveServo","url":"/moveservo","method":"get","x":144.88888549804688,"y":686.2222290039062,"z":"86aad6db.795528","wires":[["a8ba8366.57458","98eccc43.67133"]]},{"id":"a8ba8366.57458","type":"function","name":"MoveServo","func":"msg.payload = msg.req.query.servo + \"=\" + msg.req.query.value + \"\\n\";\nvar debug = \"Moving servo nr\" + msg.req.query.servo + \" to position \" + msg.req.query.value;\n\nreturn [msg, debug];","outputs":"2","x":374.8888854980469,"y":735.2225036621094,"z":"86aad6db.795528","wires":[["41ed168e.be12e8"],["9477c19a.6b884"]]},{"id":"98eccc43.67133","type":"http response","name":"","x":362.8888854980469,"y":685.2222900390625,"z":"86aad6db.795528","wires":[]},{"id":"9477c19a.6b884","type":"debug","name":"","active":true,"console":"false","complete":"true","x":576.8889770507812,"y":774.888916015625,"z":"86aad6db.795528","wires":[]},{"id":"24707601.db8f8a","type":"function","name":"BuildScare","func":"msg.actionList = [\n    {\"action\":\"TURN_HEAD\", \"value\":\"100\"}, \n    {\"action\":\"MOVE_RIGHT_ARM\", \"value\":\"100\"}, \n\t{\"action\":\"PLAY_SOUND\", \"value\":\"test.mp3\"},\n\t{\"action\":\"DELAY\", \"value\":\"5000\"},\n\t{\"action\":\"PLAY_SOUND\", \"value\":\"test.mp3\"},\n    {\"action\":\"TILT_HEAD\", \"value\": \"100\"}\n];\n\nreturn msg;","outputs":1,"x":593,"y":256,"z":"86aad6db.795528","wires":[["985d8899.67a278"]]},{"id":"feb24458.014db8","type":"function","name":"BuildGreet","func":"msg.actionList = [\n    {\"action\":\"TURN_HEAD\", \"value\":\"200\"}, \n\t{\"action\":\"PLAY_SOUND\", \"value\":\"test.mp3\"},\n    {\"action\":\"TILT_HEAD\", \"value\": \"100\"}\n];\n\nreturn msg;","outputs":1,"x":594,"y":314,"z":"86aad6db.795528","wires":[["985d8899.67a278"]]},{"id":"e99acaa9.166538","type":"function","name":"BuildSleep","func":"msg.actionList = [\n    {\"action\":\"TURN_HEAD\", \"value\":\"200\"}, \n\t{\"action\":\"PLAY_SOUND\", \"value\":\"test.mp3\"},\n    {\"action\":\"TILT_HEAD\", \"value\": \"100\"}\n];\n\nreturn msg;","outputs":1,"x":595,"y":382,"z":"86aad6db.795528","wires":[["985d8899.67a278"]]},{"id":"af5f8a60.50a078","type":"http in","name":"Delay","url":"/delay","method":"get","x":143,"y":855.2222290039062,"z":"86aad6db.795528","wires":[["efc9f1d0.10361"]]},{"id":"efc9f1d0.10361","type":"function","name":"Delay","func":"  var start = new Date().getTime();\n  for (var i = 0; i < 1e7; i++) {\n    if ((new Date().getTime() - start) > msg.req.query.value){\n      break;\n    }\n  }\n\nvar debug = \"Delaying for \" + msg.req.query.value;\n\nreturn [msg, debug];","outputs":"2","x":362,"y":863.2224731445312,"z":"86aad6db.795528","wires":[["cb0e7c5e.34f18"],["15296af6.ead695"]]},{"id":"cb0e7c5e.34f18","type":"http response","name":"","x":577,"y":858.2222900390625,"z":"86aad6db.795528","wires":[]},{"id":"15296af6.ead695","type":"debug","name":"","active":true,"console":"false","complete":"true","x":576.0001220703125,"y":913.888916015625,"z":"86aad6db.795528","wires":[]},{"id":"30a004cb.cf5ffc","type":"http request","name":"SendInstruction","method":"GET","url":"http://localhost/cgi-bin/rambot.py?action={{action}}&movement={{movement}}","x":863.888916015625,"y":362,"z":"d1443b8b.2ebbc8","wires":[["6f948da.f906b74"]]},{"id":"6f948da.f906b74","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1110.888916015625,"y":450,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"c0e8841e.3f1778","type":"inject","name":"TwitterSimulator","topic":"","payload":"#rambot pi","payloadType":"string","repeat":"","crontab":"","once":false,"x":193.888916015625,"y":673,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"71d93966.8e26c8","type":"async","name":"Parse","async":"msg.screenname = msg.topic.split('/')[1];\n//action values:\nvar ACTION_PAN = 'pan';\nvar ACTION_TILT = 'tilt';\nvar ACTION_MOVE = 'move';\nvar ACTION_TURN = 'turn';\nvar ACTION_PIC = 'pic';\n\n// movement default values: \nvar MOVEMENT_pc = -50;\nvar MOVEMENT_pc_delay = 700;\nvar MOVEMENT_pl = -80;\nvar MOVEMENT_pl_delay = 700;\nvar MOVEMENT_pr = -20;\nvar MOVEMENT_pr_delay = 700;\nvar MOVEMENT_tu = 50;\nvar MOVEMENT_tu_delay = 700;\nvar MOVEMENT_td = 0;\nvar MOVEMENT_td_delay = 700;\nvar MOVEMENT_tc = 25;\nvar MOVEMENT_tc_delay = 3000;\nvar MOVEMENT_mf = 50;\nvar MOVEMENT_mf_delay = 50*MOVEMENT_mf;\nvar MOVEMENT_mb = -50;\nvar MOVEMENT_mb_delay = 50*Math.abs(MOVEMENT_mb);\nvar MOVEMENT_tl = -45;\nvar MOVEMENT_tl_delay = 22*Math.abs(MOVEMENT_tl);\nvar MOVEMENT_tr = 45;\nvar MOVEMENT_tr_delay = 22*MOVEMENT_tr;\n\nvar currDelay = 0;\n\nvar validInstructions = ['tl', 'tr', 'tc', 'pl', 'pr', 'pc', 'tu', 'td', 'mf', 'mb', 'pi'];\n\n//convert to lowercase, strip whitespaces and strip #rambot\nmsg.payload = msg.payload.toLowerCase();\nmsg.payload = msg.payload.replace(/ /g,'');\nmsg.payload = msg.payload.replace('#rambot','');\n\n// ensure instruction string consists of even # of chars\nif(msg.payload % 2 == 1){\n\tmsg.payload = msg.payload.substring(0, msg.payload.length-1);\n}\n\nvar delayedAction = function(action, movement, delay) {\n\tcurrDelay = currDelay+delay;\n\t_.delay(function() {\n\t\tcb({screenname : msg.screenname, action:action, movement:movement});\n\t}, currDelay);\t\t\n};\n\nfor (i=0; i<msg.payload.length; i=i+2){\n\tvar singleInstructionCode = msg.payload[i]+msg.payload[i+1];\n\tif(validInstructions.indexOf(singleInstructionCode) != -1){\n\t\t\n\t\tswitch(singleInstructionCode) {\n\t\t\tcase 'pi': \n\t\t\t\tdelayedAction(ACTION_PIC, 0, currDelay+2000);\n\t\t\t\tbreak;\n\t\t\tcase 'pl':\n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pl, MOVEMENT_pl_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'pr': \n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pr, MOVEMENT_pr_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'pc': \n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pc, MOVEMENT_pc_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tu': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tu, MOVEMENT_tu_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'td': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_td, MOVEMENT_td_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tc': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tc, MOVEMENT_tc_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'mf': \n\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mf, MOVEMENT_mf_delay);\n\t\t\t\tbreak;\t\t\t\t\t\n\t\t\tcase 'mb': \n\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mb, MOVEMENT_mb_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tl': \n\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tl, MOVEMENT_tl_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tr': \n\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tr, MOVEMENT_tr_delay);\n\t\t\t\tbreak;\t\t\t\n\t\t}\n\t}\n}","outputs":1,"x":444.888916015625,"y":363,"z":"d1443b8b.2ebbc8","wires":[["36805386.c97fac"]]},{"id":"8802355d.77fdc8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":662.888916015625,"y":538,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"36805386.c97fac","type":"switch","name":"","property":"action","rules":[{"t":"eq","v":"pic"},{"t":"else"}],"checkall":"false","outputs":2,"x":609.888916015625,"y":363,"z":"d1443b8b.2ebbc8","wires":[["4c6cc010.b3934","645ae9c2.9ba518"],["6f948da.f906b74","30a004cb.cf5ffc"]]},{"id":"4c6cc010.b3934","type":"debug","name":"","active":true,"console":"false","complete":"true","x":732.888916015625,"y":254,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"f81ef5ad.07e108","type":"twitter out","twitter":"","name":"Tweet","x":1165.888916015625,"y":229,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"6aac804c.95538","type":"function","name":"Create Tweet","func":"msg.media = msg.payload;\nif(!msg.selfie)\nmsg.payload = \" Schnaaap! @\"+msg.screenname+\" made me do this! #rambot\";\nelse\nmsg.payload = \" #butfirstletmetakeaselfie #rambot\";\nreturn msg;","outputs":1,"x":987.888916015625,"y":229,"z":"d1443b8b.2ebbc8","wires":[["ced3feb6.312c","f81ef5ad.07e108","b09d0538.4f62f8"]]},{"id":"645ae9c2.9ba518","type":"exec","command":"wget -O public/snapshot.jpg --user xxx --password pass http://localhost:8080/?action=snapshot","append":"","useSpawn":"","name":"Take picture","x":518.888916015625,"y":184,"z":"d1443b8b.2ebbc8","wires":[["793cbe23.86c34"],[],[]]},{"id":"19d848f1.e627b7","type":"file in","name":"","filename":"public/snapshot.jpg","format":"","x":822.888916015625,"y":153,"z":"d1443b8b.2ebbc8","wires":[["6aac804c.95538"]]},{"id":"ced3feb6.312c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1105.888916015625,"y":342,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"ea2701cb.15d9","type":"inject","name":"MoveForward","topic":"","payload":"#rambot mf","payloadType":"string","repeat":"","crontab":"","once":false,"x":174.888916015625,"y":194,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"c3717bf2.3c8e88","type":"inject","name":"MoveBack","topic":"","payload":"#rambot mb","payloadType":"string","repeat":"","crontab":"","once":false,"x":182.888916015625,"y":256,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"a61af745.59e508","type":"inject","name":"TurnLeft","topic":"","payload":"#rambot tl","payloadType":"string","repeat":"","crontab":"","once":false,"x":190.888916015625,"y":316,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"5c588137.a3a78","type":"inject","name":"TurnRight","topic":"","payload":"#rambot tr","payloadType":"string","repeat":"","crontab":"","once":false,"x":193.888916015625,"y":373,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"93a87b0b.6c5788","type":"inject","name":"TiltUp","topic":"","payload":"#rambot tu","payloadType":"string","repeat":"","crontab":"","once":false,"x":200.888916015625,"y":427,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"a467f067.5b981","type":"inject","name":"TiltDown","topic":"","payload":"#rambot td","payloadType":"string","repeat":"","crontab":"","once":false,"x":202.888916015625,"y":475,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"532cfa7.facd304","type":"inject","name":"CenterCam","topic":"","payload":"#rambot tcpc","payloadType":"string","repeat":"","crontab":"","once":false,"x":199.888916015625,"y":527,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"3c9a31b.fc365ce","type":"inject","name":"PanLeft","topic":"","payload":"#rambot pl","payloadType":"string","repeat":"","crontab":"","once":false,"x":209.888916015625,"y":577,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"2f9c8b36.d06374","type":"inject","name":"PanRight","topic":"","payload":"#rambot pr","payloadType":"string","repeat":"","crontab":"","once":false,"x":210.888916015625,"y":625,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"4f2ad528.b0d52c","type":"inject","name":"Schnaaap","topic":"","payload":"#rambot pi","payloadType":"string","repeat":"","crontab":"","once":false,"x":177.888916015625,"y":144,"z":"d1443b8b.2ebbc8","wires":[["71d93966.8e26c8"]]},{"id":"b2303bef.4dcfc8","type":"twitter in","twitter":"","tags":"#rambot","user":"false","name":"#Rambot","topic":"tweets","x":446.888916015625,"y":600,"z":"d1443b8b.2ebbc8","wires":[["14537ca9.ebac83","8802355d.77fdc8","c7868b5c.387978"]]},{"id":"ea427d45.15bd8","type":"http request","name":"StartCamera","method":"GET","url":"http://localhost/cgi-bin/rambot.py?action=startstream&movement=0","x":451.888916015625,"y":98,"z":"d1443b8b.2ebbc8","wires":[["56011d26.a9fee4"]]},{"id":"42b0531c.bd4fac","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":210.888916015625,"y":97,"z":"d1443b8b.2ebbc8","wires":[["ea427d45.15bd8"]]},{"id":"56011d26.a9fee4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":693.888916015625,"y":97,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"eff98378.10068","type":"async","name":"Parse","async":"if(msg.payload.indexOf(\"selfie\") == -1) {\n\tmsg.screenname = msg.topic.split('/')[1];\n\t//action values:\n\tvar ACTION_PAN = 'pan';\n\tvar ACTION_TILT = 'tilt';\n\tvar ACTION_MOVE = 'move';\n\tvar ACTION_TURN = 'turn';\n\tvar ACTION_PIC = 'pic';\n\t\n\t// movement default values: \n\tvar MOVEMENT_pc = -50;\n\tvar MOVEMENT_pc_delay = 700;\n\tvar MOVEMENT_pl = -80;\n\tvar MOVEMENT_pl_delay = 700;\n\tvar MOVEMENT_pr = -20;\n\tvar MOVEMENT_pr_delay = 700;\n\tvar MOVEMENT_tu = 50;\n\tvar MOVEMENT_tu_delay = 700;\n\tvar MOVEMENT_td = 0;\n\tvar MOVEMENT_td_delay = 700;\n\tvar MOVEMENT_tc = 25;\n\tvar MOVEMENT_tc_delay = 3000;\n\tvar MOVEMENT_mf = 150;\n\tvar MOVEMENT_mf_delay = 70*MOVEMENT_mf;\n\tvar MOVEMENT_mb = -150;\n\tvar MOVEMENT_mb_delay = 70*Math.abs(MOVEMENT_mb);\n\tvar MOVEMENT_tl = -90;\n\tvar MOVEMENT_tl_delay = 50*Math.abs(MOVEMENT_tl);\n\tvar MOVEMENT_tr = 90;\n\tvar MOVEMENT_tr_delay = 50*MOVEMENT_tr;\n\t\n\t// Re-center camera\n\t\n\tvar currDelay = 0;\n\t\n\tvar validInstructions = ['shwing', // turn left \n\t\t\t\t\t\t\t 'shwang', // turn right\t\t\t\t\t\t \n\t\t\t\t\t\t\t 'shne', // camera left \n\t\t\t\t\t\t\t 'shna', // camera right \n\t\t\t\t\t\t\t 'shnop', // camera up\n\t\t\t\t\t\t\t 'shnap', // camera down\n\t\t\t\t\t\t\t 'shwosh', // move forward\n\t\t\t\t\t\t\t 'shwash', // move backward\n\t\t\t\t\t\t\t 'shnapy' // take picture\n\t\t\t\t\t\t\t ];\n\t\n\t//convert to lowercase, strip whitespaces and strip #rambot\n\tmsg.payload = msg.payload.trim();\n\tmsg.payload = msg.payload.toLowerCase();\n\tmsg.payload = msg.payload.replace('#rambot','');\n\tvar words = msg.payload.split(' ');\n\t\n\tvar delayedAction = function(action, movement, delay) {\n\t\tcurrDelay = currDelay+delay;\n\t\t_.delay(function() {\n\t\t\tcb({screenname : msg.screenname, action:action, movement:movement});\n\t\t}, currDelay);\t\t\n\t};\n\t\n\tfor (i=0; i<words.length; i++){\n\t\tvar word = words[i];\n\t\tif(validInstructions.indexOf(word) != -1){\t\t\n\t\t\tswitch(word) {\n\t\t\t\tcase 'shnapy': \n\t\t\t\t\tdelayedAction(ACTION_PIC, 0, currDelay+2000);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shne':\n\t\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pl, MOVEMENT_pl_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shna': \n\t\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pr, MOVEMENT_pr_delay);\n\t\t\t\t\tbreak;\t\t\t\n\t\t\t\tcase 'shnop': \n\t\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tu, MOVEMENT_tu_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shnap': \n\t\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_td, MOVEMENT_td_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwosh': \n\t\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mf, MOVEMENT_mf_delay);\n\t\t\t\t\tbreak;\t\t\t\t\t\n\t\t\t\tcase 'shwash': \n\t\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mb, MOVEMENT_mb_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwing': \n\t\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tl, MOVEMENT_tl_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwang': \n\t\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tr, MOVEMENT_tr_delay);\n\t\t\t\t\tbreak;\t\t\t\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"x":508.888916015625,"y":435,"z":"d1443b8b.2ebbc8","wires":[["36805386.c97fac"]]},{"id":"14537ca9.ebac83","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":483.888916015625,"y":505,"z":"d1443b8b.2ebbc8","wires":[["eff98378.10068"]]},{"id":"fb5c7b7a.04a388","type":"inject","name":"","topic":"topic/RambotPro","payload":"#rambot selfie","payloadType":"string","repeat":"","crontab":"","once":false,"x":640.888916015625,"y":676,"z":"d1443b8b.2ebbc8","wires":[["c7868b5c.387978"]]},{"id":"c7868b5c.387978","type":"async","name":"","async":"// Re-center camera\nif(msg.payload.indexOf(\" selfie\") != -1) {\n\tmsg.screenname = msg.topic.split('/')[1];\n\n\t_.delay(function() {\n\t\tcb({action:\"pan\", movement:80});\n\t   }, 0);\n\t   \n\t_.delay(function() {\n\t\tcb({action:\"tilt\", movement:-50});\n\t   }, 500);\n\t   \n\t_.delay(function() {\n\t\tcb({selfie: true, screenname : msg.screenname, action:\"pic\", movement:0});\n\t   }, 6000);\n}","outputs":1,"x":827.888916015625,"y":626,"z":"d1443b8b.2ebbc8","wires":[["36805386.c97fac","9db2e63.f624d18"]]},{"id":"9db2e63.f624d18","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1021.888916015625,"y":613,"z":"d1443b8b.2ebbc8","wires":[]},{"id":"b09d0538.4f62f8","type":"async","name":"Recenter camera","async":"_.delay(function() {\n\tcb({ action : \"tilt\", movement : 25});\n\t}, 400);\n_.delay(function() {\n\tcb({ action : \"pan\", movement : -50});\n\t}, 1400);","outputs":1,"x":895.888916015625,"y":294,"z":"d1443b8b.2ebbc8","wires":[["30a004cb.cf5ffc"]]},{"id":"793cbe23.86c34","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":726.888916015625,"y":214,"z":"d1443b8b.2ebbc8","wires":[["19d848f1.e627b7"]]},{"id":"1a87116d.e578ef","type":"http in","name":"GUI","url":"/gui2","method":"get","x":110.88888549804688,"y":79.88888549804688,"z":"c4faaf4c.3b055","wires":[["b513d898.4aec28"]]},{"id":"b513d898.4aec28","type":"template","name":"GuiHTML","field":"","template":"<html>\n\t<head>\n\t\t<script>\n\t\t\tfunction sendAction(action) {\n\t\t\t\tvar xmlhttp=new XMLHttpRequest();\n\t\t\t\txmlhttp.open(\"GET\",\"/controller?action=\" + action,true);\n\t\t\t\txmlhttp.send();\n\t\t\t\n\t\t\t}\t\n\t\t</script>\n\t</head>\n\t\n\t<body>\n\t\t<h1>Skelbot</h1>\n\t\t<p>\n\t\t\t<button onclick=\"sendAction('Laugh')\">Le</button> \n\t\t\t<button onclick=\"sendAction('Scare')\">Skrem</button> \n\t\t\t<button onclick=\"sendAction('Greet')\">Hils</button> \n\t\t\t<button onclick=\"sendAction('Sleep')\">Sov</button> \n\t\t</p>\t\n\t</body>\n</html>\n","x":329.8888854980469,"y":90.88888549804688,"z":"c4faaf4c.3b055","wires":[["e898602c.1767a"]]},{"id":"e898602c.1767a","type":"http response","name":"EmptyResponse","x":577.8888854980469,"y":80.88888549804688,"z":"c4faaf4c.3b055","wires":[]},{"id":"7c14ac3a.83eb54","type":"http in","name":"Controller","url":"/controller2","method":"get","x":111.88888549804688,"y":274.8888854980469,"z":"c4faaf4c.3b055","wires":[["d06e7a0a.2f9188","9e460f41.61b9f"]]},{"id":"d06e7a0a.2f9188","type":"switch","name":"BehaviourSwitch","property":"req.query.action","rules":[{"t":"eq","v":"Laugh"},{"t":"eq","v":"Scare"},{"t":"eq","v":"Greet"},{"t":"eq","v":"Sleep"}],"checkall":"true","outputs":4,"x":328.8888854980469,"y":275.8888854980469,"z":"c4faaf4c.3b055","wires":[["9ca31681.635ce8"],["bae4d384.451b3"],["38100dd5.c7eff2"],["e22cf3ae.1dd31"]]},{"id":"9e460f41.61b9f","type":"http response","name":"EmptyResponse","x":326.8888854980469,"y":199.88888549804688,"z":"c4faaf4c.3b055","wires":[]},{"id":"9ca31681.635ce8","type":"function","name":"BuildLaugh","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":\"200\"}, \n\t{\"gesture\":\"PLAY_SOUND\", \"value\":\"test.mp3\", \"delay\":\"0\"},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":\"200\"}\n];\n\nreturn msg;","outputs":1,"x":560.888916015625,"y":189.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"bae4d384.451b3","type":"function","name":"BuildScare","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"100\", \"delay\":\"200\"}, \n    {\"gesture\":\"MOVE_RIGHT_ARM\", \"value\":\"100\", \"delay\":\"200\"}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":\"3000\"},\n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":\"0\"},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":\"200\"}\n];\n\nreturn msg;","outputs":1,"x":556.888916015625,"y":252.88888549804688,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"38100dd5.c7eff2","type":"function","name":"BuildGreet","func":"msg.gestureList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":\"200\"}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":\"200\"},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":\"200\"}\n];\n\nreturn msg;","outputs":1,"x":560.8888854980469,"y":311.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"e22cf3ae.1dd31","type":"function","name":"BuildSleep","func":"msg.actionList = [\n    {\"gesture\":\"TURN_HEAD\", \"value\":\"200\", \"delay\":\"200\"}, \n\t{\"gesture\":\"SPEAK\", \"value\":\"test.mp3\", \"delay\":\"200\"},\n    {\"gesture\":\"TILT_HEAD\", \"value\": \"100\", \"delay\":\"200\"}\n];\n\nreturn msg;","outputs":1,"x":561.8888854980469,"y":379.8888854980469,"z":"c4faaf4c.3b055","wires":[["f64dda2b.09b228"]]},{"id":"f64dda2b.09b228","type":"async","name":"IterateGestures","async":"\nvar cummulativeDelay = 0;\n\n//Does asynchronous calls to actions with delay\nvar doDelayedAction = function(action, servo, value, delay) {\n\t\n\tcummulativeDelay = cummulativeDelay + delay;\n\t\n\t_.delay(function() {\n\t\tcb({action:action, servo:servo, value:value});\n\t}, cummulativeDelay);\t\t\n};\n\n//GestureSwitch\n//Iterate over gesturelist to perform all actions\nfor(index = 0; index < msg.gestureList.length; index++) {\n\tvar gestureItem = msg.gestureList[index];\n\n\tswitch(gestureItem.action) {\n\t\tcase \"SPEAK\":\n\t\t\tdoDelayedAction(\"PLAY_SOUND\", \"\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TURN_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"1\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"TILT_HEAD\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"2\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_RIGHT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"3\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"MOVE_LEFT_ARM\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"4\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t\tcase \"SWITCH_LIGHT\":\n\t\t\tdoDelayedAction(\"MOVE_SERVO\", \"5\", gestureItem.value, gestureItem.delay);\n\t\t\tbreak;\n\t}\n}\n\nreturn msg;","outputs":1,"x":821.8889465332031,"y":375.8888854980469,"z":"c4faaf4c.3b055","wires":[["ed3c3518.12c3c8"]]},{"id":"ed3c3518.12c3c8","type":"switch","name":"FunctionSwitch","property":"action","rules":[{"t":"eq","v":"MOVE_SERVO"},{"t":"eq","v":"PLAY_SOUND"}],"checkall":"true","outputs":2,"x":316.8888854980469,"y":591.888916015625,"z":"c4faaf4c.3b055","wires":[["3302da5a.ccfd26"],["f66bd498.099428"]]},{"id":"cc68c1ea.33974","type":"debug","name":"","active":true,"console":"false","complete":"true","x":769.8889770507812,"y":705.8889465332031,"z":"c4faaf4c.3b055","wires":[]},{"id":"8d8d46ed.7272b8","type":"exec","command":"omxplayer","append":"msg.payload","useSpawn":true,"name":"PlaySound","x":778.8889770507812,"y":657.8885803222656,"z":"c4faaf4c.3b055","wires":[[],[],[]]},{"id":"f66bd498.099428","type":"function","name":"PlaySound","func":"msg.payload = \"/home/pi/skelbot/mp3/\" + msg.value;\nvar debug = \"Playing sound \" + msg.value;\nreturn [msg, debug];","outputs":"2","x":562.8888244628906,"y":701.8890075683594,"z":"c4faaf4c.3b055","wires":[[],["cc68c1ea.33974"]]},{"id":"3302da5a.ccfd26","type":"function","name":"MoveServo","func":"msg.payload = msg.servo + \"=\" + msg.value + \"\\n\";\nvar debug = \"Moving servo nr\" + msg.servo + \" to position \" + msg.value;\n\nreturn [msg, debug];","outputs":"2","x":563.8889465332031,"y":559.8889465332031,"z":"c4faaf4c.3b055","wires":[["a25048f2.5dafb8"],["2677a6d6.d9885a"]]},{"id":"2677a6d6.d9885a","type":"debug","name":"","active":true,"console":"false","complete":"true","x":765.8890380859375,"y":599.5553588867188,"z":"c4faaf4c.3b055","wires":[]},{"id":"a25048f2.5dafb8","type":"file","name":"FileWriter","filename":"/home/pi/skelbot/outputfile.txt","appendNewline":true,"overwriteFile":false,"x":773.0002136230469,"y":552.6664428710938,"z":"c4faaf4c.3b055","wires":[]}]